@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.App {
  text-align: center;
}
body{
  font-family: 'Indie Flower', cursive !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  font-family: 'Indie Flower', cursive !important;
  font-size: 56px;
}
.add_space{
  padding-left:3px;
}
form{
  display: inline;
}
#btn{
  height: 40px;
  width: 40px;
}
#btn:hover{
  height: 45px;
  width: 45px;
}
.container{ 
  
  padding-top:80px ;
  text-align: center;
  background-color:#81DAF5;
  height: 100%;
  width: 100%;
}
.inner-container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  border: 1px solid black;
  padding: 80px;
  margin: 50px;
  
  position: relative;
  background-color:#CEF6EC;
  border-radius: 70px 70px 70px 70px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border: none;

  box-shadow: 2px 6px 32px 23px rgba(45,30,30,0.75);
-webkit-box-shadow: 2px 6px 32px 23px rgba(45,30,30,0.75);
-moz-box-shadow: 2px 6px 32px 23px rgba(45,30,30,0.75);

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
